<!-- app/views/events/index.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Выбор секций</title>
  <style>
      .section {
          display: none;
      }

      .active {
          display: block;
      }
  </style>
  <script>
      function showSection(sectionName) {
          var sections = document.getElementsByClassName("section");
          for (var i = 0; i < sections.length; i++) {
              sections[i].style.display = "none";
          }

          var selectedSection = document.getElementById(sectionName);
          selectedSection.style.display = "block";
      }
  </script>
</head>
<body>
<div style="text-align: center; margin-top: 200px">
  <button onclick="showSection('me')">Me</button>
  <button onclick="showSection('events')">Events</button>
  <button onclick="showSection('categories')">Categories</button>
</div>

<div id="me" class="section active" style="text-align: center; margin-top: 20px">
  <h2>Привет, <%= @user.name %></h2>
  <h2>Предстоящие события</h2>
  <p>Количество предстоящих событий: <%= @upcoming_events_count %></p>
  <p>Количество событий на сегодня: <%= @today_events_count %></p>
</div>

<div id="events" class="section" style="text-align: center; margin-top: 20px">
  <h2>События пользователя</h2>
  <h1>Search Events</h1>

  <%= form_tag(users_path, method: :get, id: "search-form") do %>
    <div>
      <%= label_tag :search, 'Event Name' %>
      <%= text_field_tag :search, params[:search] %>
    </div>

    <div>
      <%= label_tag :category_id, 'Category' %>
      <%= select_tag :category_id, options_from_collection_for_select(@categories, :name, :name, params[:category_id]), include_blank: true %>
    </div>

    <%= submit_tag 'Search' %>
  <% end %>

  <h2>Results</h2>

  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Description</th>
      <th>Category</th>
    </tr>
    </thead>
    <tbody>
    <% @paginated_events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.date %></td>
        <td><%= event.description %></td>
        <td><%= event.category.name if event.category %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= paginate @paginated_events %>

  <div style="text-align: center; margin-top: 20px">
    <%= link_to 'Create new event', new_event_path %>
    <%= link_to 'Search', search_events_path %>
    <%= link_to 'Search by category', search_by_category_events_path %>
  </div>
</div>

<div id="categories" class="section" style="text-align: center; margin-top: 20px">
  <h2>Секция Categories</h2>
</div>
</body>
</html>