<h2>Search events</h2>

<%= form_tag search_events_path, method: :get do %>
  <%= label_tag :search_term %>
  <%= text_field_tag :search_term, params[:search_term] %>
  <%= submit_tag "Search", class: "btn btn-large btn-primary" %>
<% end %>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Date</th>
    <th>Category</th>
  </tr>
  </thead>
  <tbody>
  <% @events.each do |event| %>
    <tr>
      <td><%= event.id %></td>
      <td><%= link_to event.name, event_path(event) %></td>
      <td><%= event.date %></td>
      <td><%= event.category %></td>
    </tr>
  <% end %>
  </tbody>
</table>