<h2 style="color: #B00100; margin: 0 auto">Show event</h2>

<ul>
  <li>Name: <%= @event.name %> </li>
  <li>Date: <%= @event.date %> </li>
  <li>Description: <%= @event.description %></li>
</ul>

<br/>

<% if @weather %>
  <h3>Погодные условия</h3>
  <ul>
    <li>Температура: <%= (@weather.dig('main', 'temp') - 273.15).round(2) %>°C</li>
  </ul>
<% else %>
  <p>Погода недоступна.</p>
<% end %>

<%= link_to 'Edit', edit_event_path(@event) %>
<%= button_to "Delete #{@event.name}", event_path(@event), method: :delete %>